---
layout: single
---

{% for gallery in site.data.galleries %}
  {% if gallery.id == page.gallery_id %}
    <p>
      {{ gallery.description }}
    </p>
    <div id="gallery">
      {% for image in gallery.images %}
        <div class="cell">
          {{ image.text }}
          <a href="{{ gallery.image_folder }}{{ image.file }}" data-lightbox="{{ gallery.id }}" title="{{ image.text }}">
            <img src="{{ gallery.image_folder }}{{ image.thumb }}">
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}
